<div id="<%= dom_id installment %>">
  <p>
    <strong>Student name:</strong>
    <%= installment.student_name %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= installment.total_amount %>
  </p>

  <p>
    <strong>Num installments:</strong>
    <%= installment.num_installments %>
  </p>

  <p>
    <strong>Installment structure:</strong>
    <%= installment.installment_structure %>
  </p>

</div>
